body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  background-image: radial-gradient( rgba(127, 80, 255, 0.52), rgb(1, 1, 49));;
}

.borderless {
  border: none !important;;
  margin-bottom: 10px;
}



.clear {
  background-color: #06AED5;
  border-radius: 15px;
  width: 43%;
  color: White;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  left: 30%;
  padding-top:23px;
}
.clear:hover {
  background-color: rgb(107, 142, 187);
  border-color: rgb(32, 74, 83);
  border-radius: 15px;
}
.clear:focus {
  border-color: rgb(32, 74, 83);
  border-radius: 15px;
}


.eraser {
  position: relative;   
  margin-right: 0;

}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: rgb(1, 1, 61);
  border-radius: 0;
  border-bottom: 10px solid black;
  background-image: radial-gradient(#06AED5, rgba(127, 80, 255, 0.52), rgb(1, 1, 49));
}

#graytext, #redtext, #greentext {
font-weight: bold;
border-top-left-radius: 10px;
border-bottom-right-radius: 10px;

}
#graytext {
  background-color: #d3d3d3;
}

#redtext {
  background-color: #ff6961;
}

#greentext {
  background-color: #77dd77;
  
}

#cleartext {
  color: white;
  background-color: #06AED5;
  border-radius: 10px;
  border: 1px solid rgb(32, 74, 83);
  padding: 5px
}

#currentDay {
  font-weight: bold;
  font-size: 35px;
}

.description{
  white-space: pre-wrap;
}

input:focus {
  outline: none !important;
  border-color: #06AED5;
}

.time-block{
  text-align: left;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  text-align: right;
  font-weight: bold;
  font-size: 20px;
  background-color: rgba(127, 80, 255, 0.52);
}

.past {
  background-color: #d3d3d3;
  color: #06AED5;
  font-weight: bold;
  font-size: 20px;
}

.present {
  background-color: #ff6961;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.future {
  background-color: #77dd77;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  font-size: 20px;
}

.saveBtn:hover {
  font-size: 30px;
  transition: all .3s ease-in-out;
  color: black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
